@import '../../base/base.less';

.identify-area-wrapper {
  .area-wrapper();
  width: 300px;
  height: @overviewHeight;
  margin-top: 18px;
  text-align: center;

  .input-wrapper {
    position: relative;
    display: inline-block;
    width: 90%;
    margin: 5px 0 10px 0;
    h3 {
      text-align: left;
      margin: 5px 15px 5px 18px;
      letter-spacing: 3px;
    }

    p {
      word-break: break-all;
      text-align: left;
      margin: 0;
      width: 98%;
      margin-left: 1%;
    }

    .el-select {
      width: 100%;
      /deep/ .el-input {
        //input {
          font-size: 16px;
        //}
      }
    }

    .el-textarea {
      font-size: 16px;
    }
  }
}