@import '../../base/base.less';

.banner-wrapper {
  .area-wrapper();
  width: 300px;
  height: @bannerHeight;
  border-radius: 10px;
  margin: 10px;
  img {
    width: 100%;
    border-radius: 10px;
  }
}