@import '../../base/base.less';

@toolboxSize: @toolboxHeight;
@borderSize: 2px;
@marginSize: 3px;
@buttonSize: @toolboxSize - 2 * @marginSize - 10px;
@marginLeft: 10px;
@thicknessSize: @buttonSize - 10px;
@switchSize: 14px;
@imgSize: 10px;
@toolboxWidth: 840px;
@toolboxPadding: 20px - @marginLeft;

.toolbox-wrapper {
  .area-wrapper();
  width: @toolboxWidth - 2 * @toolboxPadding;
  height: @toolboxSize;
  //text-align: left;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: left;
  padding: 0 @toolboxPadding;
}

.tool-wrapper {
  text-align: center;
  position: relative;
  display: inline-block;
  background-color: #FFFFFF;
  height: @buttonSize;
  width: @buttonSize;
  margin: @marginSize @marginLeft;
  //border: 1px solid #dcdfe6;
  border-radius: 5px;

  p {
    margin: 0;
    font-size: 8px;
    color: #666;
    padding: 0;
    margin-top: -4px;
  }

  button {
    height: inherit;
    width: inherit;
    background-color: transparent;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #FFFFFF;
    //box-shadow: @borderShadow;
    cursor: pointer;
    outline: none;

    &:hover {
      border-color: @hoverColor;
    }
  }

  a span {
    position: relative;
    display: inline-block;
    height: @buttonSize - 4px;
    width: @buttonSize - 4px;
    background-color: transparent;
    border: 2px solid #eee;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    top: 2px;
    margin: -2px;

    &:hover {
      border-color: @hoverColor;
    }

    a {
      height: 5px;
      background-color: #759FD2;
      position: absolute;
      width: @buttonSize - 14px;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /deep/ .el-color-picker__trigger {
    height: @buttonSize;
    width: @buttonSize;
    border: 2px solid #eee;
    border-radius: 5px;
    //margin: @marginSize @marginLeft;
    position: absolute;
    margin-top: -10px;
    margin-left: -26px;
    background-color: #FFFFFF;
    //margin: @marginSize;
  }

  /deep/ .el-color-picker__trigger:hover {
    border-color: @hoverColor;
  }

  .disable-mask {
    height: @buttonSize;
    width: @buttonSize;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(235, 235, 235, 0.5);
    border-radius: 5px;
    cursor: not-allowed;
  }

  //.switch-button {
  //  width:0;
  //  height:0;
  //  border-width: 0 0 20px 20px;
  //  border-style:solid;
  //  border-color:transparent transparent #759FD2 transparent;
  //  position:absolute;
  //  right: 0;
  //  bottom: 0;
  //  cursor: pointer;
  //  img {
  //    position: absolute;
  //    width: 12px;
  //    height: 12px;
  //    left: -12px;
  //    top: 8px;
  //  }
  //}

  .switch-button {
    width: @switchSize;
    height: @switchSize;
    border-radius: 50px;
    background-color: @themeColor;
    position: absolute;
    right: -5px;
    bottom: -2px;
    cursor: pointer;
    img {
      position: absolute;
      width: @imgSize;
      height: @imgSize;
      left: (@switchSize - @imgSize) / 2;
      top: (@switchSize - @imgSize) / 2;
    }
  }

  .button {
    &-TRUNCATE {
      background-size: cover;
      background-image: url("../../assets/buttons/truncate.png");
    }

    &-UNDO {
      background-size: cover;
      background-image: url("../../assets/buttons/undo.png");
    }

    &-REDO {
      background-size: cover;
      background-image: url("../../assets/buttons/redo.png");
    }

    &-PEN {
      background-size: cover;
      background-image: url("../../assets/buttons/pen.png");
    }

    &-ERASER {
      background-size: cover;
      background-image: url("../../assets/buttons/eraser.png");
    }

    &-LINE {
      background-size: cover;
      background-image: url("../../assets/buttons/line.png");
    }

    &-LINE_SOLID {
      background-size: cover;
      background-image: url("../../assets/buttons/dotted.png");
    }

    &-RECTANGLE {
      background-size: cover;
      background-image: url("../../assets/buttons/rectangle.png");
    }

    &-RECTANGLE_SOLID {
      background-size: cover;
      background-image: url("../../assets/buttons/rectangle-solid.png");
    }

    &-CIRCLE {
      background-size: cover;
      background-image: url("../../assets/buttons/circle.png");
    }

    &-CIRCLE_SOLID {
      background-size: cover;
      background-image: url("../../assets/buttons/circle-solid.png");
    }

    &-TRIANGLE {
      background-size: cover;
      background-image: url("../../assets/buttons/triangle.png");
    }

    &-TRIANGLE_SOLID {
      background-size: cover;
      background-image: url("../../assets/buttons/triangle-solid.png");
    }
  }
}

.button-selected {
  button {
    border-color: @hoverColor;
    background-color: #FFCAAA20;
  }
}

.tool-split {
  position: static;
  display: inline-block;
  height: 30px;
  width: 5px;
  margin: 17px 10px;
  background-color: #dcdfe6;
}

.thickness-slider-wrapper {
  position: absolute;
}